# Ignore all files in the INBOX, ARCHIVE, and PERSONAL folders
00_INBOX/*
!00_INBOX/.gitkeep
90_ARCHIVE/*
!90_ARCHIVE/.gitkeep
99_ASSETS/templates/*
!99_ASSETS/templates/.gitkeep

# Local settings file
settings.local.json

# Personal workspace settings
.obsidian/workspace.json

# Plugin personal data  
.obsidian/plugins/*/data.json